*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin/metadata
.kotlin/errors
.kotlin/sessions
secrets.local

androidApp/src/**/google-services.json
